name: Build and publish docker image

on:
  push:
    branches:
      - main

jobs:
  docker:
    name: docker
    runs-on: ubuntu-latest
    steps:
      - name: Read VERSION file
        id: getversion
        run: echo "version=$(cat version)" >> $GITHUB_OUTPUT

      - uses: docker/build-push-action@v6.19.2
        with:
          tags: "${{ steps.getversion.outputs.version }}"
