name: Build and publish docker image

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  docker:
    name: docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
    
      - name: Read VERSION file
        id: getversion
        run: |
          echo "version=$(cat version)"
          echo "version=$(cat version)" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: docker/build-push-action@v6.19.2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/issugo/sonarqube_mcp:${{ steps.getversion.outputs.version }}
